* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    justify-content: space-evenly;
    background-color: navy;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
    margin: 1rem;
}

header a:hover {
    color: lightblue;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

main #about {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

main #about h2 {
    font-size: 1.8em;
    margin-bottom: 10px;

}

main #about picture {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

main #about img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding:1rem;
}

main #about p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.2em;
}